<p>Hello, this is <b>{{PERSON_NAME}}</b>,</p>

<p>To cope with ever increasing amounts of spam mail, we have subscribed to a filter service.
This service blocks all emails with the exception of trusted correspondents.</p>

<p>So I have not yet received your last email,</p>
<p>In order to prove you are a genuine sender and not a spam-sending machine, please click below and follow the instructions on the page which opens. </p>

<a href="{{VERIFY_URL}}" target="_blank">
<button>click</button>
</a>

<p>You will then be immediately and permanently added to my list of trusted correspondants.</p>
<p>Your last email will also be delivered without delay.</p>

<p>Thanks in advance!</p>
<p>{{PERSON_NAME}}</p>
